// marign and padding
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 2,
  5: $spacer * 2.813,
  6: $spacer * 3,
  7: $spacer * 5,
);

// font-sizes
$font-size-base: 1rem;
$h2-font-size: $font-size-base * 2.5;
$h3-font-size: $font-size-base * 2.125;
$h6-font-size: $font-size-base;
$text-lg: $font-size-base * 1.625;
$text-md: $font-size-base * 1.125;
$text-sm: $font-size-base * 0.875;
$text-xs: $font-size-base * 0.75;
$font-sizes: (
  2: $h2-font-size,
  3: $h3-font-size,
  6: $h6-font-size,
  7: $text-lg,
  8: $text-md,
  9: $text-sm,
  10: $text-xs,
);

// box-shadow
$box-shadow: 2px 4px 9px rgba(24, 37, 92, 0.15);
$box-shadow-sm: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$box-shadow-lg: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$box-shadow-dark: 0px 7px 29px 0px rgba(0, 0, 0, 0.3);

// add new utilities
$utilities: map-merge(
  $utilities,
  (
    'color': (
      property: color,
      class: text,
      local-vars: (
        'text-opacity': 1,
      ),
      values: map-merge($utilities-text-colors, $theme-colors),
    ),
    'rounded': (
      property: border-radius,
      class: rounded,
      values: (
        null: var(--#{$prefix}border-radius),
        0: 0,
        1: var(--#{$prefix}border-radius-sm),
        2: 0.5rem,
        3: 0.625rem,
        4: var(--#{$prefix}border-radius-xl),
        5: var(--#{$prefix}border-radius-2xl),
        circle: 50%,
        pill: var(--#{$prefix}border-radius-pill),
      ),
    ),
    'font-size': (
      rfs: true,
      property: font-size,
      class: fs,
      values: $font-sizes,
    ),
    'font-weight': (
      property: font-weight,
      class: fw,
      values: (
        light: 300,
        normal: 400,
        medium: 500,
        semibold: 600,
        bold: 700,
      ),
    ),
    'shadow': (
      property: box-shadow,
      class: shadow,
      values: (
        null: $box-shadow,
        sm: $box-shadow-sm,
        lg: $box-shadow-lg,
        dark: $box-shadow-dark,
        none: none,
      ),
    ),
    'border-start': (
      property: border-left,
      class: border-start,
      values: (
        null: var(--#{$prefix}border-width) var(--#{$prefix}border-style)
          var(--#{$prefix}border-color),
        0: 0,
        1: 1px solid #ebebeb,
        2: 2px solid #ebebeb,
      ),
    ),
    'border-end': (
      property: border-right,
      class: border-end,
      values: (
        null: var(--#{$prefix}border-width) var(--#{$prefix}border-style)
          var(--#{$prefix}border-color),
        0: 0,
        1: 1px solid #fbf6f6,
        n1: 1px solid #383a3c,
      ),
    ),
    'padding-x': (
      responsive: true,
      property: padding-right padding-left,
      class: px,
      values: $spacers,
    ),
    'padding-y': (
      responsive: true,
      property: padding-top padding-bottom,
      class: py,
      values: $spacers,
    ),
    'margin-x': (
      responsive: true,
      property: margin-right margin-left,
      class: mx,
      values:
        map-merge(
          $spacers,
          (
            auto: auto,
          )
        ),
    ),
    'margin-bottom': (
      responsive: true,
      property: margin-bottom,
      class: mb,
      values:
        map-merge(
          $spacers,
          (
            auto: auto,
          )
        ),
    ),
    'min-viewport-height': (
      property: min-height,
      class: min-vh,
      values: (
        50: 50vh,
        100: 100vh,
      ),
    ),
  )
);
