@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

$font-family-base: 'Poppins', sans-serif;
$btn-border-radius: 0.5rem;
$input-border-radius: 0.5rem;
$input-placeholder-color: #acadc1;
$border-color: #acadc1;

@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/maps';
@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/utilities';

// add theme-colors
$custom-theme-colors: (
  'primary-orange': #ff7d00,
  'primary-blue': #2767e1,
  'primary-yellow': #efcf5d,
  'primary-green': #2db986,
  'secondary-green': #0ec837,
  'third-green': #14c85c,
  'primary-red': #de5263,
  'secondary-red': #ff1010,
  'primary-gray': #f0f0f5,
);
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// marign and padding
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 2,
  5: $spacer * 2.813,
  6: $spacer * 3,
  7: $spacer * 5,
);

// font-sizes
$font-size-base: 1rem;
$h2-font-size: $font-size-base * 2.5;
$h3-font-size: $font-size-base * 2.125;
$h6-font-size: $font-size-base;
$text-lg: $font-size-base * 1.625;
$text-md: $font-size-base * 1.125;
$text-sm: $font-size-base * 0.875;
$text-xs: $font-size-base * 0.75;
$font-sizes: (
  2: $h2-font-size,
  3: $h3-font-size,
  6: $h6-font-size,
  7: $text-lg,
  8: $text-md,
  9: $text-sm,
  10: $text-xs,
);

// box-shadow
$box-shadow: 2px 4px 9px rgba(24, 37, 92, 0.15);
$box-shadow-sm: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$box-shadow-lg: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

// add new utilities
$utilities: map-merge(
  $utilities,
  (
    'color': (
      property: color,
      class: text,
      local-vars: (
        'text-opacity': 1,
      ),
      values:
        map-merge(
          $utilities-text-colors,
          (
            'muted': $text-muted,
            'primary-orange': #ff7d00,
            'primary-black': #26273b,
            'secondary-black': #18255c,
            'primary-gray': #f0f0f5,
            'secondary-gray': #6f708b,
            'third-gray': #acadc1,
            'primary-blue': #647deb,
            'dark-blue': #454560,
            'secondary-red': #ff1010,
            'reset': inherit,
          )
        ),
    ),
    'rounded': (
      property: border-radius,
      class: rounded,
      values: (
        null: var(--#{$prefix}border-radius),
        0: 0,
        1: var(--#{$prefix}border-radius-sm),
        2: 0.5rem,
        3: 0.625rem,
        4: var(--#{$prefix}border-radius-xl),
        5: var(--#{$prefix}border-radius-2xl),
        circle: 50%,
        pill: var(--#{$prefix}border-radius-pill),
      ),
    ),
    'font-size': (
      rfs: true,
      property: font-size,
      class: fs,
      values: $font-sizes,
    ),
    'font-weight': (
      property: font-weight,
      class: fw,
      values: (
        normal: 400,
        medium: 500,
        semibold: 600,
        bold: 700,
      ),
    ),
    'shadow': (
      property: box-shadow,
      class: shadow,
      values: (
        null: $box-shadow,
        sm: $box-shadow-sm,
        lg: $box-shadow-lg,
        none: none,
      ),
    ),
    'border-start': (
      property: border-left,
      class: border-start,
      values: (
        null: var(--#{$prefix}border-width) var(--#{$prefix}border-style)
          var(--#{$prefix}border-color),
        0: 0,
        1: 1px solid #ebebeb,
        2: 2px solid #ebebeb,
      ),
    ),
    'padding-x': (
      responsive: true,
      property: padding-right padding-left,
      class: px,
      values: $spacers,
    ),
    'padding-y': (
      responsive: true,
      property: padding-top padding-bottom,
      class: py,
      values: $spacers,
    ),
    'margin-x': (
      responsive: true,
      property: margin-right margin-left,
      class: mx,
      values:
        map-merge(
          $spacers,
          (
            auto: auto,
          )
        ),
    ),
    'margin-bottom': (
      responsive: true,
      property: margin-bottom,
      class: mb,
      values:
        map-merge(
          $spacers,
          (
            auto: auto,
          )
        ),
    ),
    'min-viewport-height': (
      property: min-height,
      class: min-vh,
      values: (
        50: 50vh,
        100: 100vh,
      ),
    ),
  )
);

@import '../../../node_modules/bootstrap/scss/bootstrap';

// login
.container-login {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  min-height: 100vh;

  .left-side {
    position: relative;

    .bg-image-login {
      background-image: url('../images/bg-image.jpg');
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
    }

    .tagline {
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      transform: translate(0, 150%);

      h3 {
        margin-bottom: 0;
        max-width: 560px;
      }

      h6 {
        margin: 32px 0 0 0;

        &::before {
          content: 'â”';
          display: inline-block;
          width: 20px;
          height: 0;
          margin-right: 16px;
        }
      }
    }
  }

  .right-side {
    margin: 129px 7.75rem 92px 7.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      margin: 32px 0 0 0;
      max-width: 500px;

      span:nth-child(1) {
        display: block;
      }
    }

    .vbm-logo img {
      margin-left: -38px;
    }

    .form-login {
      form {
        margin-top: 32px;

        input {
          padding: 8px 12px;
        }
      }

      .btn-login-container {
        margin-top: 67px;

        button {
          &:disabled {
            cursor: not-allowed;
            pointer-events: all !important;
          }
        }
      }

      .input-password {
        position: relative;
      }

      .eye-icon {
        position: absolute;
        top: 50%;
        right: 0;
        margin-right: 12px;
        transform: translate(0, -50%);
      }
    }

    .version p {
      margin: 80px 0 0 0;
    }
  }
}

// pace loading
.pace {
  .pace-progress {
    background: #ff7d00 !important;
    height: 3px !important;
  }
}

// sidebar
.sidebar {
  width: 92px;
  transition: 0.3s;
  min-height: 100vh;
  z-index: 100;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: white;

  .nav-item {
    .nav-link {
      padding: 0.5rem 1.5rem;
      margin: 0.5rem 0;

      svg {
        min-width: 1.5rem;
        min-height: 1.5rem;
      }

      span {
        white-space: nowrap;
      }

      .hidden-span {
        display: none;
        justify-content: center;
      }

      &.active {
        color: #ff7d00 !important;
        font-weight: 500;
      }
    }

    &:hover {
      color: #ff7d00 !important;
    }

    &:not(.active) {
      color: #acadc1;
    }
  }

  .sidebar-brand {
    margin: 11px 0 67px 0;
  }

  .custom-nav-link {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
  }

  .vbm-logo {
    svg {
      width: auto;
      height: 50px;
    }
  }

  .logo-dashboard {
    height: 50px;
    width: auto;
  }

  &.expander {
    width: calc(92px + 8rem);
  }

  &.toggled {
    width: 0 !important;
    overflow: hidden;
  }

  &:not(.expander) {
    .custom-nav-link {
      column-gap: 0;
      justify-content: center;
    }
  }
}

// topbar
.topbar {
  padding: 1rem 1.438rem !important;
  height: 4rem;
  position: fixed;
  right: 0;
  background-color: white;
  z-index: 1;
  transition: 0.3s;

  .side-nav {
    display: flex;
    align-items: center;
    column-gap: 40px;
  }

  .nav-toggle {
    font-size: 1.25rem;
    padding: 6px 3px;
    vertical-align: middle;
    cursor: pointer;
    height: 100%;
    width: 100%;
  }

  .dropdown {
    .dropdown-menu {
      width: 283px !important;

      a,
      button {
        padding: 8px 10px;

        svg {
          padding: 8px;
        }

        &:hover {
          background-color: var(--bs-dropdown-link-hover-bg) !important;
          color: var(--bs-dropdown-link-hover-color) !important;
        }
      }
    }
  }

  .img-profile {
    width: 32px;
    height: 32px;
  }
}

main {
  color: #26273b;
  background-color: #f9f9fc;

  &.dashboard-content {
    padding: 3rem 1.938rem;
  }

  // my-account
  &.profile-content {
    padding: 2.313rem 1.688rem;

    img {
      &.img-profile {
        width: 64px;
        height: 64px;
      }
    }
  }

  // property
  .property-page-content {
    background-color: white;
    border-radius: 8px;
    padding: 1rem;

    h5 {
      margin-bottom: 24px;
    }

    .main-content {
      padding: 0 1.875rem;
    }

    table {
      thead {
        tr {
          th {
            padding: 14px 16px;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: #454560;
          }
        }
      }

      tbody {
        border-top: 1px solid #f0f0f5 !important;

        tr {
          &:hover {
            cursor: pointer;
            border: 2px solid #ff7d00 !important;
            background-color: #fff !important;
            box-shadow: 0 7px 5px 0 rgba(11, 10, 10, 0.15);
          }

          td {
            padding: 14px 16px;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #26273b;

            p {
              a {
                text-decoration: none;
                color: inherit;

                &:hover {
                  text-decoration: underline;
                  color: inherit;
                }
              }
            }
          }
        }
      }

      img {
        height: 96px;
        width: 130px;
      }
    }

    tbody,
    td,
    tfoot,
    th,
    thead,
    tr {
      border: 0 !important;
    }
  }

  &.property-content {
    padding: 0 1.438rem;

    .dropdown,
    button.filter-property {
      width: 100%;
      border: 1px solid #acadc1;
      border-radius: 8px;
      color: #454560;
    }

    .dropdown > button,
    button.filter-property {
      width: 100%;
      max-height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .dropdown-trigger {
      width: 100%;
    }

    .dropdown {
      .dropdown-menu {
        width: 100% !important;
      }

      button {
        &.dropdown-toggle {
          &::after {
            content: url('../images/icon-dropdown.svg');
            border: 0;
          }
        }
      }

      .btn:first-child:active,
      .btn {
        border: 0;
      }
    }

    .btn,
    button.filter-property {
      padding: 8px 16px;
    }
  }

  // detail property
  &.detail-property-content {
    padding: 1.375rem 2rem;

    .section-1 {
      margin-bottom: 26px;
    }

    .section-2 {
      margin-bottom: 19px;

      .card {
        background-color: white;
        border-radius: 8px;
      }
    }

    .section-3 {
      .card {
        border: 0;
        padding: 0.75rem 1rem;
        margin-top: 0;
      }
    }

    img {
      &.villa-image {
        object-fit: cover;
        object-position: center;
      }

      &.image-placeholder {
        width: 100%;
        height: 207px;
        object-fit: cover;
        object-position: center;
      }

      &.preview-map {
        width: 100%;
        height: 245px;
        object-fit: cover;
        object-position: center;
      }
    }

    span {
      margin-top: 12px;
      display: inline-block;
    }

    .nav-tabs {
      border-bottom: 1px solid #f0f0f5 !important;

      @at-root {
        .nav-link {
          border: 0 !important;
        }
      }

      button {
        &.nav-link {
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;
          color: #454560;

          &.active {
            border-bottom: 2px solid #ff7d00 !important;
            color: #ff7d00;
          }
        }
      }
    }

    .history-item {
      display: flex;
      gap: 9px;

      img {
        width: 46px;
        height: 46px;
        object-fit: cover;
        object-position: center;
      }
    }

    .tab-content {
      .tab-pane {
        &.active {
          color: #26273b !important;
        }
      }
    }
  }

  // contact
  &.contact-page-content {
    padding: 1.5rem 1.438rem;

    .contact-list-content {
      padding: 1.5rem 1.375rem;
      background-color: white;
      border-radius: 8px;

      .row:not(:nth-child(1)) {
        margin-top: 53px;

        .card {
          border-radius: 8px;
          border: 1px solid #acadc1;

          h5 {
            a {
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          &:hover {
            cursor: pointer;
            border: 1px solid #ff7d00 !important;
            background-color: white;
          }
        }
      }
    }
  }

  // add contact
  &.add-contact-content {
    padding: 1.313rem 1.438rem;

    .section-1 {
      margin-bottom: 24px;

      .card-body {
        padding: 0 1.5rem 4.875rem 1.5rem;

        .row {
          margin-bottom: 1.5rem;
        }
      }
    }

    .section-2 {
      margin-bottom: 88px;

      .row {
        margin-bottom: 1.5rem;

        .form-check-input {
          &:checked[type='radio'],
          &:checked[type='checkbox'] {
            background-color: #647deb;
            color: #647deb;
            background-image: none;
          }
        }

        .input-group {
          &.input-file-upload {
            label {
              position: absolute;
              z-index: 1;
              top: 50%;
              transform: translateY(-50%);
              margin: 0;
              left: 12px;
              color: #acadc1;

              svg {
                margin-right: 8px;
              }

              &:hover {
                cursor: pointer;
              }
            }

            input {
              &:focus {
                z-index: 0;
              }
            }
          }
        }

        img {
          &.image-preview {
            max-width: 350px;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }

    .section-3 {
      position: fixed;
      bottom: 0;
      right: 0;
      z-index: 1;
      background-color: white;
      width: 100%;
      padding: 23px;
    }
  }

  // detail contact
  &.contact-detail-content {
    padding: 3.438rem 2.5rem;

    .contact-detail-role {
      .card {
        margin-top: 30px !important;
        background-color: white;
        border-radius: 8px;
        padding: 1.5rem 1rem;
        border: 0;
      }
    }
    .other-data {
      .card {
        padding-bottom: 88px !important;
      }
    }

    .contact-company-detail {
      margin-top: 24px !important;
    }
  }
}

// dashboard
#wrapper {
  #content-wrapper {
    position: absolute;
    top: 64px;
    right: 0;
    bottom: 0;
    transition: 0.3s;
  }
}

// react-confirm-alert
.react-confirm-alert-body {
  font-family: 'Poppins', sans-serif !important;

  h1 {
    font-weight: 400;
    font-size: 2.25rem;
  }

  .react-confirm-alert-button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    button {
      background-color: #ff7d00;
      font-size: 1rem;

      &:hover {
        background-color: #ff9126;
        border-color: #ff8a1a;
      }
    }
  }
}

// responsive
@include media-breakpoint-down(xl) {
  .right-side {
    margin: 0 10% !important;

    .version p {
      margin: 50px 0 0 0 !important;
    }
  }

  .tagline {
    transform: translate(0, -50%) !important;
  }
}

@include media-breakpoint-down(lg) {
  .right-side {
    margin: 0 8% !important;
  }
}

@include media-breakpoint-down(md) {
  .left-side {
    display: none;
  }

  .right-side {
    margin: 0 4% !important;

    h2 {
      font-size: 1.875rem !important;
    }
  }
}
