@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/maps';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';

// Setting
$font-family-base: 'Poppins', sans-serif;
$btn-border-radius: 0.5rem;
$input-border-radius: 0.5rem;
$input-placeholder-color: #acadc1;
$border-color: #acadc1;
$body-bg: #f9f9fc;
$dropdown-bg: #fff;

// theme-colors
$theme-colors: (
  'brand-amber': #ff7d00,
  'brand-celtic': #2767e1,
  'brand-united-nations': #647deb,
  'brand-crayola': #efcf5d,
  'brand-vivid': #ff1010,
  'brand-terra-cotta': #de5263,
  'brand-pastel-green': #0ec837,
  'brand-mountain-meadow': #2db986,
  'brand-malachite': #14c85c,
  'brand-yankees': #26273b,
  'brand-space-cadet': #18255c,
  'brand-independence': #454560,
  'brand-rhythm': #6f708b,
  'brand-cadet-blue': #acadc1,
  'brand-anti-flash': #f0f0f5,
);

@import './dark-mode';
@import './custom-utilities';

@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

@import './layout';
@import './responsive';
