@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

$font-family-base: 'Poppins', sans-serif;
$btn-border-radius: 0.5rem;
$input-border-radius: 0.5rem;
$input-placeholder-color: #acadc1;
$box-shadow: 2px 4px 9px rgba(24, 37, 92, 0.15);

@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/maps';
@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/utilities';

// add theme-colors
$custom-theme-colors: (
  'primary-orange': #ff7d00,
);
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// marign and padding
$spacer: 1rem;
$spacers: (
  4: $spacer * 2,
  5: $spacer * 2.813,
  6: $spacer * 3,
  7: $spacer * 5,
);

// font-sizes
$font-size-base: 1rem;
$h2-font-size: $font-size-base * 2.5;
$h3-font-size: $font-size-base * 2.125;
$h6-font-size: $font-size-base;
$text-md: $font-size-base * 1.125;
$text-sm: $font-size-base * 0.875;
$text-xs: $font-size-base * 0.75;
$font-sizes: (
  2: $h2-font-size,
  3: $h3-font-size,
  6: $h6-font-size,
  7: $text-md,
  8: $text-sm,
  9: $text-xs,
);

// add new utilities
$utilities: map-merge(
  $utilities,
  (
    'color': (
      property: color,
      class: text,
      local-vars: (
        'text-opacity': 1,
      ),
      values:
        map-merge(
          $utilities-text-colors,
          (
            'muted': $text-muted,
            'primary-orange': #ff7d00,
            'primary-black': #26273b,
            'primary-gray': #f0f0f5,
            'secondary-gray': #6f708b,
            'dark-blue': #454560,
            'reset': inherit,
          )
        ),
    ),
    'font-size': (
      rfs: true,
      property: font-size,
      class: fs,
      values: $font-sizes,
    ),
    'font-weight': (
      property: font-weight,
      class: fw,
      values: (
        normal: 400,
        medium: 500,
        semibold: 600,
        bold: 700,
      ),
    ),
    'shadow': (
      property: box-shadow,
      class: shadow,
      values: (
        null: $box-shadow,
        none: none,
      ),
    ),
    'padding-x': (
      responsive: true,
      property: padding-right padding-left,
      class: px,
      values: $spacers,
    ),
    'padding-y': (
      responsive: true,
      property: padding-top padding-bottom,
      class: py,
      values: $spacers,
    ),
    'margin-x': (
      responsive: true,
      property: margin-right margin-left,
      class: mx,
      values:
        map-merge(
          $spacers,
          (
            auto: auto,
          )
        ),
    ),
    'margin-bottom': (
      responsive: true,
      property: margin-bottom,
      class: mb,
      values:
        map-merge(
          $spacers,
          (
            auto: auto,
          )
        ),
    ),
  )
);

@import '../../../node_modules/bootstrap/scss/bootstrap';

// login
.container-login {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  min-height: 100vh;

  .left-side {
    position: relative;

    .bg-image-login {
      background-image: url('../images/bg-image.jpg');
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
    }

    .tagline {
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      transform: translate(0, 150%);

      h3 {
        margin-bottom: 0;
        max-width: 560px;
      }

      h6 {
        margin: 32px 0 0 0;

        &::before {
          content: 'â”';
          display: inline-block;
          width: 20px;
          height: 0;
          margin-right: 16px;
        }
      }
    }
  }

  .right-side {
    margin: 129px 7.75rem 92px 7.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      margin: 32px 0 0 0;
      max-width: 500px;

      span:nth-child(1) {
        display: block;
      }
    }

    .vbm-logo img {
      margin-left: -38px;
    }

    .form-login {
      form {
        margin-top: 32px;

        input {
          padding: 8px 12px;
        }
      }

      .btn-login-container {
        margin-top: 67px;

        button {
          &:disabled {
            cursor: not-allowed;
            pointer-events: all !important;
          }
        }
      }

      .input-password {
        position: relative;
      }

      .eye-icon {
        position: absolute;
        top: 50%;
        right: 0;
        margin-right: 12px;
        transform: translate(0, -50%);
      }
    }

    .version p {
      margin: 80px 0 0 0;
    }
  }
}

// sidebar
.sidebar {
  width: 92px;
  transition: 0.5s;
  min-height: 100vh;
  z-index: 100;
  overflow: hidden;

  .nav-item {
    .nav-link {
      padding: 0.5rem 1.5rem;
      margin: 0.5rem 0;

      svg {
        min-width: 1.5rem;
        min-height: 1.5rem;
      }

      span {
        white-space: nowrap;
      }

      .hidden-span {
        display: none;
        justify-content: center;
      }

      &.active {
        color: #ff7d00 !important;
        font-weight: 500;
      }
    }

    &:hover {
      color: #ff7d00 !important;
    }

    &:not(.active) {
      color: #acadc1;
    }
  }

  .sidebar-brand {
    margin: 11px 0 67px 0;
  }

  .custom-nav-link {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
  }

  .vbm-logo {
    svg {
      width: auto;
      height: 50px;
    }
  }

  .logo-dashboard {
    height: 50px;
    width: auto;
  }

  &.expander {
    width: calc(92px + 12rem);
  }

  &.toggled {
    width: 0 !important;
    overflow: hidden;
  }

  &:not(.expander) {
    .custom-nav-link {
      column-gap: 0;
      justify-content: center;
    }
  }
}

// topbar
.topbar {
  padding: 1rem 1.438rem !important;
  height: 4rem;

  .side-nav {
    display: flex;
    align-items: center;
    column-gap: 40px;
  }

  .nav-toggle {
    font-size: 1.25rem;
    padding: 6px 3px;
    vertical-align: middle;
    cursor: pointer;
    height: 100%;
    width: 100%;
  }

  .navbar-brand {
    color: #26273b;
  }

  .dropdown {
    .dropdown-menu {
      width: 283px !important;
      border: none;

      .dropdown-header {
        color: #acadc1;
        margin-bottom: 8px;
      }

      a {
        color: #6f708b;
        padding: 8px 10px;
        display: flex;
        align-items: center;

        svg {
          padding: 8px;
          color: #6f708b;
        }

        &:hover {
          background-color: var(--bs-dropdown-link-hover-bg);
          color: var(--bs-dropdown-link-hover-color);
        }
      }
    }
  }

  .img-profile {
    width: 32px;
    height: 32px;
  }
}

main {
  color: #26273b;
  background-color: #f9f9fc;

  // property
  .property-page-content {
    background-color: white;
    border-radius: 8px;
    padding: 1rem;

    h5 {
      margin-bottom: 24px;
    }

    .main-content {
      padding: 0 1.875rem;
    }

    table {
      thead {
        tr {
          th {
            padding: 14px 16px;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: #454560;
          }

          td {
            padding: 14px 16px;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #26273b;

            p {
              a {
                text-decoration: none;
                color: inherit;
              }

              &:hover {
                text-decoration: underline;
                color: inherit;
              }
            }
          }
        }
      }

      tbody {
        border-top: 1px solid #f0f0f5 !important;
      }

      span {
        padding: 2px 8px;
        border-radius: 8px;

        &.approved {
          color: white;
          background-color: #2db986;
        }

        &.pending {
          color: #26273b;
          background-color: #efcf5d;
        }

        &.rejected {
          color: white;
          background-color: #de5263;
        }
      }

      img {
        height: 96px;
        width: 130px;
      }
    }

    tbody,
    td,
    tfoot,
    th,
    thead,
    tr {
      border: 0 !important;
    }
  }

  &.dashboard-content {
    padding: 3rem 1.938rem;
  }

  &.property-content {
    padding: 0 1.438rem;

    .dropdown,
    button.filter-property {
      width: 100%;
      border: 1px solid #acadc1;
      border-radius: 8px;
      color: #454560;
    }

    .dropdown > button,
    button.filter-property {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .dropdown-trigger {
      width: 100%;
    }

    .dropdown {
      .dropdown-menu {
        width: 100% !important;
      }

      button {
        &.dropdown-toggle {
          &::after {
            content: url('../images/icon-dropdown.svg');
            border: 0;
          }
        }
      }

      .btn:first-child:active,
      .btn {
        border: 0;
      }
    }

    .btn,
    button.filter-property {
      padding: 8px 16px;
    }
  }
}

// dashboard
#wrapper {
  display: flex;

  #content-wrapper {
    width: 100%;
    overflow-x: hidden;
  }
}

// responsive
@include media-breakpoint-down(xl) {
  .right-side {
    margin: 0 10% !important;

    .version p {
      margin: 50px 0 0 0 !important;
    }
  }

  .tagline {
    transform: translate(0, -50%) !important;
  }
}

@include media-breakpoint-down(lg) {
  .right-side {
    margin: 0 8% !important;
  }
}

@include media-breakpoint-down(md) {
  .left-side {
    display: none;
  }

  .right-side {
    margin: 0 4% !important;

    h2 {
      font-size: 1.875rem !important;
    }
  }
}
